<div id="overlay" ng-click="$state.go('^')">
</div>
<div class="flickr-modal row">
	<div class="col-md-12">
		<div class="pull-left ">
			<img src="https://farm{{ViewCtrl.photo.farm}}.staticflickr.com/{{ViewCtrl.photo.server}}/{{ViewCtrl.photo.id}}_{{ViewCtrl.photo.secret}}.jpg">
		</div>
		<h1>{{ViewCtrl.photo.title}}</h1>
		<a href=""><h3 class="small">by {{ViewCtrl.photo.ownername}}</h3></a>
		<p>{{ViewCtrl.photo.description._content}}</p>
	</div>
	<div class="col-md-12">
		<h4>Tags</h4>
		<small ng-repeat="tag in ViewCtrl.photo.tags" ui-sref="flickr.search({query: tag})" class="tag">{{tag}}</small>
	</div>
</div>